.bodyWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex-grow: 1;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding: 38px 20px;
    width: 100%;
}